# DATABASE_URL=postgresql://postgres:oJ0yXLPwPTUWz3qw@db.enyiluqmcutsyiywpyfg.supabase.co:5432/postgres

DATABASE_URL=postgresql://postgres.enyiluqmcutsyiywpyfg:[PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:5432/postgres

JWT_SECRET=super-secret-hrms-2026-ke
